body {
    background: rgb(25, 25, 27);
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
}

button {
    width: 300px;
    padding: 10px 15px;
    font-size: 28px;
    color: transparent;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    background: #893efa;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1
}

button:hover {
    transform: scale(.95);
}

button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) scale(1);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #b07bff;
    transition: all .3s ease-in-out;
    opacity: 0;
    z-index: 100;
}

button:hover::after {
    transform: translateX(-50%) scale(10);
    opacity: 1;
}

button::before {
    z-index: 9999;
    content: "Click me";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}


/*button:hover {
    background: #b07bff;
}*/